.homesection {
  margin-top: 65px ;
  padding: 0 0 0 clamp(10px,16vw,100px);
  position: relative;
  display: flex ;
}

.homesection-left {
  flex: .5 ;
  min-width: 450px ;
}
.homesection-right {
  flex: .5 ;
  overflow: hidden;
}


.homesection-left {
  display: flex ;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px ;
}
.homesection-left > div.homesection-left-heading {
  display: flex ;
  align-items: center;
}
.homesection-left-heading > div.homesection-left-new {
  margin-right: 15px ;
  padding: 1px; 
  background-color: #212740 ;
  color: white ;
  border-radius: 40% ;
  height: 30px ;
  width: 55px ;

  display: grid;
  place-items: center;

}

.homesection-left-heading h3 {
  text-transform: uppercase;
  color: #989CA5; 
  font-weight: lighter ;
  font-family: 'Barlow', sans-serif;
  letter-spacing: 4px ;
  margin-top: -6px;
}
.homesection-left-body {
  max-width: 600px ;
  padding-top: 25px ;
}
.homesection-left-body > h1 {
  color: #212740;
  font-size: 3rem ;
  text-transform : uppercase; 
  font-family: 'Barlow', sans-serif;
  font-weight: 900 ;
  line-height: 50px ;
  margin-bottom: 30px ;
}

.homesection-left-body > p {
  color: #575656; 
  margin-bottom: 30px ;
}

.homesection-left-buttons {
  display: flex ;
}
.red-button , 
.transparent-button {
  outline: none ;
  border: none  ;
  cursor: pointer ;
  font-weight: bold ;
  text-transform: uppercase ;
  width: 180px;
  padding: 20px 0;
  font-family: 'Barlow', sans-serif;
}
.red-button {
  border-radius: 5px ;
  color: white ;
  background-color: #FF5E5E;
  transition: .3s ease-out ;
}

.red-button:hover {
  background-color: #FF8582 ;
  box-shadow: 2px 10px 23px -9px rgba(0,0,0,0.55);
  -webkit-box-shadow: 2px 10px 23px -9px rgba(0,0,0,0.55);
  -moz-box-shadow: 2px 10px 23px -9px rgba(0,0,0,0.55);
}
.transparent-button {
  background-color: white;
  margin-left: 20px ;
  color: #989CA5; 
  font-weight: 100 ;
  letter-spacing: 4px ;
}

@media screen and (max-width: 1150px) {
  .homesection {
    flex-direction: column-reverse;
  }
  .homesection-left {
    margin-top: 100px ;
  }
  .homesection-left-body > h1 {
    font-size: 2rem ;
    line-height: 40px ;
  }
  .homesection-left {
    min-width: 0 ;
  }
}

@media screen and (max-width: 900px ) {
  .homesection-right {
    display: grid ;
    place-items: center ;
  }
  .homesection-right > img {
    height: 100% ;
    width: 100% ;
    object-fit: contain;
  }
}

@media screen and (max-width: 690px) {
  .homesection {
    padding: 5vh 6vw;
  }
}

@media screen and (max-width: 420px ) {
  .red-button , 
  .transparent-button {
    width: 120px ;
  }
  .homesection-left-body > h1 {
    font-size: 1.3rem;
    line-height: 25px;
    margin-bottom: 20px ;
  }
}