nav.navbar {
  padding: 6vh 15vw ;
  background-color: white ;
  display: flex;
  justify-content: space-between ;
}

.navbar-links {
  display: flex ;
}
.navbar-links > a {
  display: block ;
  margin-right: 15px ;
}

.navbar-links > a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

@media screen and (max-width: 600px) {
  .navbar-links {
    display: none;
  }
}

