nav.navbar {
  padding: clamp(30px,5vh,70px) clamp(10px,15vw,100px);
  background-color: white ;
  display: flex;
  justify-content: space-between ;
  position: relative;
}
.navbar-logo {
  display: grid ;
  place-items: center;
}
.navbar-links {
  display: flex ;
  align-items: center;
}
.navbar-links > a {
  display: block ;
  margin-right: 20px ;
  text-transform: uppercase;
  font-weight: 700 ;
  position: relative;
}
.navbar-links > a::after {
  content: "";
  position: absolute ;
  bottom : -0.5px ;
  left: 0 ;
  right: 0 ;
  height: 2px ;
  background-color: black ;
  transform-origin: center ;
  transform: scaleX(0);
  transition: transform .3s ease-out ;
}
.navbar-links > a:hover::after {
  transform: scaleX(1);
}
.navbar-mobile-links {
  position: absolute ;
  top: 130px ;
  width: 80vw ;
  max-width: 400px ;
  height: 300px;
  background: red;
  border-radius: 3px ;
  transform: scale(0);
  transform-origin: center;
  transition: transform .3s ease-out ;
}
.navbar-mobile-links.link-active {
  transform: scale(1);
}
@media screen and (max-width: 600px) {
  .navbar-links {
    display: none;
  }
}

